<html>
<body>

<h3> Welcome  ${userAccount.userId} </h3>



<div style ="text-indent:50px;">
Welcome to the William F. Harrah College of Hotel Administration system for tracking student work hours.
When logging onto the system you will enter your user name, ${userAccount.userId}.
<br/>
Your temporary password is :  ${password}
<br/>
You can personalize your password by creating a new once, once logged into the system.
<br/>
If you have any question please contact 
<a href="http://hotel.unlv.edu/contact/">College of Hotel Administration</a>

</div>
</body>
</html>